<form class="form-labels-on-top" method="post" asp-action="SalvarFoto" enctype="multipart/form-data" >
    <div class="form-title-row">
        <h1>Testando salvar imagem</h1>
    </div>
    <div class="form-row">
        <label>
            <span>Foto</span>
            <input type="file" name="file" />
        </label>
    </div>
    <div class="form-row">
        <button type="submit">Salvar</button>
    </div>
</form>
